In [7]:
print('hi')

hi

In [8]:
import pandas as pd

In [9]:
# Read the two CSV files into Pandas DataFrames
df1 = pd.read_csv('/projects/CorisDB_Curation/postgres/queries_and_stats/queries/Glaucoma/OCT_CDR_CFP_Merge/recent_OCT_CFP_CDRs_interpolated.csv')
# df2 = pd.read_csv('/projects/coris_db/postgres/queries_and_stats/queries/Glaucoma/OCT_CDR_CFP_Merge/results_final.csv')
df2 = pd.read_csv('/projects/CorisDB_Curation/postgres/queries_and_stats/queries/Glaucoma/OCT_CDR_CFP_Merge/pred_and_gt_with_avg_all.csv')
# Drop duplicates from df2 based on the filename column
# df2 = df2.drop_duplicates(subset=['filename'])

In [10]:
df1

,filename,cfp_datetime,oct_datetime,verticalcd
0,AxisUCH01_10034_77265_201502250751527525b51a9c...,2015-02-25,2015-01-07,0.629630
1,AxisUCH01_10034_77265_20150225075152924ecb69af...,2015-02-25,2015-01-07,0.666667
2,AxisUCH01_10062_120744_20160520133755017211352...,2016-05-20,2016-01-15,0.824561
3,AxisUCH01_10062_120744_201605201337551735a4625...,2016-05-20,2016-01-15,0.764706
4,AxisUCH01_10062_53888_20140507154810928573be24...,2014-05-07,2014-01-06,0.803571
...,...,...,...,...
6617,axis01_9976_158094_20170323083817871a0b30d4f34...,2017-03-23,2016-11-17,0.854545
6618,axis01_9976_158094_20170323083817934d28ddfafcf...,2017-03-23,2016-11-17,0.719126
6619,axis01_9976_202616_201801221340470714cf539312f...,2018-01-22,2017-09-25,0.721312
6620,axis01_9976_202616_201801221340473211adc10aa99...,2018-01-22,2017-09-25,0.826087
6621,axis01_99_522768_20220610101336593255cf3dc700e...,2022-06-10,2022-02-08,0.548387

In [11]:
df2

,filename,pred_cdr,devname,fileeye,pat_mrn,cdr_value,date,pred_cdr_avg
0,axis01_27169_289428_202102221220567096e1edc766...,0.519481,Nidek,OD,4403737,0.75,2019-06-24,0.539871
1,axis01_32338_403609_20210208082844395e5d17251a...,0.842333,Nidek,OS,1382423,0.80,2021-02-08,0.828974
2,axis01_34955_325605_201912230900137642331e57a9...,0.660173,Nidek,OS,1958540,0.80,2019-12-23,0.664864
3,axis01_30687_329544_2020011510343392836de7f08a...,0.638528,Nidek,OD,4380549,0.70,2020-01-15,0.635483
4,AxisUCH01_3369_9390_20121231120827201f4d42446f...,0.590022,NonMyd,OD,1505874,0.80,2012-12-31,0.611361
...,...,...,...,...,...,...,...,...
22723,axis01_2783_360245_2020072115460092232f89c7318...,0.611714,NonMyd,OS,1837102,0.75,2020-07-21,0.611714
22724,axis01_19641_220546_20180508170648435713d313cd...,0.659483,NonMyd,OS,1571225,0.70,2018-05-08,0.666321
22725,axis01_12462_245395_20181002110141660aa4aae1e7...,0.504348,NonMyd,OD,2127620,0.50,2018-10-02,0.504348
22726,axis01_5389_499072_2022032912533580245dea8a99c...,0.538126,NonMyd,OS,1107023,0.70,2022-03-29,0.538126
22727,AxisUCH01_433_74630_20150126142338027eb7d8ddeb...,0.640693,NonMyd,OD,1761929,0.85,2015-01-26,0.640693

In [12]:
# Specify the column on which you want to join
# Assuming 'common_column' is the column name common in both files
common_column = 'filename'

# Perform the join operation
# Assuming you want an inner join, change 'how' parameter accordingly for other types of joins
result = pd.merge(df1, df2, on=common_column, how='left')

# Print the result or do further operations with it
print(result)

                                               filename cfp_datetime  \
0     AxisUCH01_10034_77265_201502250751527525b51a9c...   2015-02-25
1     AxisUCH01_10034_77265_20150225075152924ecb69af...   2015-02-25
2     AxisUCH01_10062_120744_20160520133755017211352...   2016-05-20
3     AxisUCH01_10062_120744_201605201337551735a4625...   2016-05-20
4     AxisUCH01_10062_53888_20140507154810928573be24...   2014-05-07
...                                                 ...          ...
6617  axis01_9976_158094_20170323083817871a0b30d4f34...   2017-03-23
6618  axis01_9976_158094_20170323083817934d28ddfafcf...   2017-03-23
6619  axis01_9976_202616_201801221340470714cf539312f...   2018-01-22
6620  axis01_9976_202616_201801221340473211adc10aa99...   2018-01-22
6621  axis01_99_522768_20220610101336593255cf3dc700e...   2022-06-10

     oct_datetime  verticalcd  pred_cdr devname fileeye  pat_mrn  cdr_value  \
0      2015-01-07    0.629630  0.581345  NonMyd      OS  1361313       0.60
1      2015-01-07    0.666667  0.580087  NonMyd      OD  1361313       0.70
2      2016-01-15    0.824561  0.629870  NonMyd      OS   692559       0.75
3      2016-01-15    0.764706  0.715835  NonMyd      OD   692559       0.80
4      2014-01-06    0.803571  0.650759  NonMyd      OS   692559       0.75
...           ...         ...       ...     ...     ...      ...        ...
6617   2016-11-17    0.854545  0.671706  NonMyd      OS   920943       0.75
6618   2016-11-17    0.719126  0.643629  NonMyd      OD   920943       0.70
6619   2017-09-25    0.721312  0.634989  NonMyd      OD   920943       0.70
6620   2017-09-25    0.826087  0.684665  NonMyd      OS   920943       0.75
6621   2022-02-08    0.548387  0.504348  NonMyd      OS  2338290       0.45

            date  pred_cdr_avg
0     2015-02-25      0.581345
1     2015-02-25      0.580087
2     2016-05-20      0.629870
3     2016-05-20      0.715835
4     2014-05-07      0.640998
...          ...           ...
6617  2017-03-23      0.671706
6618  2017-03-23      0.643629
6619  2018-01-22      0.634989
6620  2018-01-22      0.684665
6621  2022-06-10      0.504348

[6622 rows x 11 columns]

In [13]:
result

,filename,cfp_datetime,oct_datetime,verticalcd,pred_cdr,devname,fileeye,pat_mrn,cdr_value,date,pred_cdr_avg
0,AxisUCH01_10034_77265_201502250751527525b51a9c...,2015-02-25,2015-01-07,0.629630,0.581345,NonMyd,OS,1361313,0.60,2015-02-25,0.581345
1,AxisUCH01_10034_77265_20150225075152924ecb69af...,2015-02-25,2015-01-07,0.666667,0.580087,NonMyd,OD,1361313,0.70,2015-02-25,0.580087
2,AxisUCH01_10062_120744_20160520133755017211352...,2016-05-20,2016-01-15,0.824561,0.629870,NonMyd,OS,692559,0.75,2016-05-20,0.629870
3,AxisUCH01_10062_120744_201605201337551735a4625...,2016-05-20,2016-01-15,0.764706,0.715835,NonMyd,OD,692559,0.80,2016-05-20,0.715835
4,AxisUCH01_10062_53888_20140507154810928573be24...,2014-05-07,2014-01-06,0.803571,0.650759,NonMyd,OS,692559,0.75,2014-05-07,0.640998
...,...,...,...,...,...,...,...,...,...,...,...
6617,axis01_9976_158094_20170323083817871a0b30d4f34...,2017-03-23,2016-11-17,0.854545,0.671706,NonMyd,OS,920943,0.75,2017-03-23,0.671706
6618,axis01_9976_158094_20170323083817934d28ddfafcf...,2017-03-23,2016-11-17,0.719126,0.643629,NonMyd,OD,920943,0.70,2017-03-23,0.643629
6619,axis01_9976_202616_201801221340470714cf539312f...,2018-01-22,2017-09-25,0.721312,0.634989,NonMyd,OD,920943,0.70,2018-01-22,0.634989
6620,axis01_9976_202616_201801221340473211adc10aa99...,2018-01-22,2017-09-25,0.826087,0.684665,NonMyd,OS,920943,0.75,2018-01-22,0.684665
6621,axis01_99_522768_20220610101336593255cf3dc700e...,2022-06-10,2022-02-08,0.548387,0.504348,NonMyd,OS,2338290,0.45,2022-06-10,0.504348

In [14]:
result.to_csv('/projects/CorisDB_Curation/postgres/queries_and_stats/queries/Glaucoma/OCT_CDR_CFP_Merge/OCT_CFP_CDRs_preds_interpolated.csv', index=False)